replicas: 1

image:
  tag: "1.34.0"

env:
  AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: "true"
  QUERY_DEFAULTS_LIMIT: 25

resources:
  requests:
    cpu: "500m"
    memory: 1Gi
  limits:
    cpu: "1"
    memory: 2Gi

persistence:
  size: 10Gi

service:
  type: ClusterIP
