mode: standalone

rootUser: minioadmin
rootPassword: minioadmin123

replicas: 1

resources:
  requests:
    cpu: "1"
    memory: 1Gi
  limits:
    cpu: "1"
    memory: 1Gi

persistence:
  enabled: true
  size: 10Gi

service:
  type: ClusterIP

consoleService:
  type: ClusterIP

postJob:
  enabled: false

extraEnvVars:
  - name: MINIO_SERVER_URL
    value: "http://localhost:9000"
  - name: MINIO_BROWSER_REDIRECT_URL
    value: "http://localhost:9001"
